{% extends "base.html" %}
{% load static %}
{% block content %}
    {% comment %} <h1 class="text-red-500 text-center">    Welcome to HomePage.   </h1> {% endcomment %}
    <section class="w-full mt-4 flex h-full" id="home">
        {% comment %} ROW1 {% endcomment %}
        <div class="flex gap-8 justify-evenly w-3/4" >
            <div class="w-2/6 ">
                <div>
                    <h3 class="text-right text-sm">Ends in 11:59:58</h3>
                    <div
                        class="w-full  h-24 ml-4 bg-white backdrop-blur-xl
                                rounded-tl-xl rounded-tr-3xl rounded-bl-2xl rounded-br-lg
                                shadow-[inset_3px_3px_6px_#AAAACC80,inset_-3px_-3px_6px_rgba(255,255,255,0.9)] flex items-center justify-between" id="enrollCard">
                                <div class="w-16 h-16 rounded-lg flex justify-center items-center mx-5" id="bg_color">
                                    <img class="w-14 h-12 " src="{% static "images/select_list.png" %}" alt="">
                                </div>
                                <div class="w-24 h-16 rounded-lg flex justify-center mx-5 mt-1" id="">
                                    <svg
                                        width="25"
                                        height="30"
                                        viewBox="0 0 14 17"
                                        fill="none"
                                        xmlns="http://www.w3.org/2000/svg"
                                        >

                                        <!-- Left waves -->
                                        <path d="M2.84804 5.96395C2.84804 4.52235 3.57604 3.25755 4.71004 2.48235L4.51404 2.23755C3.31004 3.06715 2.54004 4.44075 2.54004 5.99115C2.54004 7.51435 3.29604 8.86075 4.47204 9.70395L4.66804 9.45915C3.56204 8.62955 2.84804 7.39195 2.84804 5.96395Z" fill="#E94D4F"/>

                                        <path d="M1.308 5.964C1.308 4.0328 2.302 2.3056 3.786 1.2448L3.59 1C2.022 2.1288 1 3.924 1 5.964C1 7.9768 2.008 9.7584 3.562 10.8736L3.758 10.6288C2.26 9.568 1.308 7.8816 1.308 5.964Z" fill="#E94D4F"/>

                                        <path d="M4.374 5.96398C4.374 5.01198 4.864 4.16878 5.62 3.66558L5.424 3.42078C4.598 3.99198 4.052 4.91678 4.052 5.95038C4.052 6.97038 4.584 7.89518 5.354 8.46638L5.55 8.22158C4.836 7.69118 4.374 6.87518 4.374 5.96398Z" fill="#E94D4F"/>

                                        <!-- Right waves -->
                                        <path d="M12.0601 5.96395C12.0601 4.44075 11.2901 3.06715 10.0861 2.23755L9.90405 2.48235C11.0101 3.25755 11.7521 4.53595 11.7521 5.96395C11.7521 7.37835 11.0381 8.61595 9.96005 9.41835L10.1561 9.66315C11.3041 8.81995 12.0601 7.47355 12.0601 5.96395Z" fill="#E94D4F"/>

                                        <path d="M13.292 5.96395C13.292 7.85435 12.34 9.55435 10.884 10.6151L11.08 10.8599C12.592 9.73115 13.6 7.94955 13.6 5.95035C13.6 3.91035 12.564 2.11515 10.996 1.01355L10.8 1.24475C12.326 2.30555 13.292 4.01915 13.292 5.96395Z" fill="#E94D4F"/>

                                        <path d="M10.5339 5.96405C10.5339 4.93045 9.9879 4.00565 9.1899 3.43445L8.9939 3.67925C9.7219 4.19605 10.2119 5.02565 10.2119 5.96405C10.2119 6.88885 9.7499 7.70485 9.0639 8.20805L9.2459 8.45285C10.0159 7.85445 10.5339 6.98405 10.5339 5.96405Z" fill="#E94D4F"/>

                                        <!-- CENTER IMAGE (you only change src) -->
                                        <image
                                            x="4"
                                            y="2.8"
                                            width="7"
                                            height="7"
                                            href="{% static "images/alert.gif" %}"
                                        />

                                    </svg>
                                    <p class="text-xs">Enroll Now</p>
                                </div>
                    </div>
                </div>
                <h3 class="mt-8 ml-4"><span class="font-semibold">২০২৪ সালে পূর্ণাঙ্গ প্রস্তুতির জন্য</span> <br>আজই যুক্ত হোন </h3>
                
                <div class="flex justify-center items-center mt-7 w-[calc(112%)]">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-8 text-gray-500">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 19.5 8.25 12l7.5-7.5" />
                    </svg>

                    <div class="w-full h-44 rounded-2xl bg-gray-100/80  relative z-20 drop-shadow-lg">

                    {% comment %} gif  {% endcomment %}
                        <img src="{% static "images/vid.gif" %}" alt="" class="w-4/5 relative bottom-2 right-2">
                    </div>
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-8 text-gray-500">
                        <path stroke-linecap="round" stroke-linejoin="round" d="m8.25 4.5 7.5 7.5-7.5 7.5" />
                    </svg>
                    

                </div>
                <p class="text-center text-sm" id="text_color">আরও জানুন</p>
            </div>

            {% comment %} mid  {% endcomment %}
            <div class="w-2/6 ">
                <div>
                    <h3 class="text-right text-sm">Ends in 11:59:58</h3>
                    <div
                        class="w-full  h-24 ml-4 bg-white backdrop-blur-xl
                                rounded-tl-xl rounded-tr-3xl rounded-bl-2xl rounded-br-lg
                                shadow-[inset_3px_3px_6px_#AAAACC80,inset_-3px_-3px_6px_rgba(255,255,255,0.9)] flex items-center justify-between" id="enrollCard">
                                <div class="w-16 h-16 rounded-lg flex justify-center items-center mx-5" id="bg_color">
                                    <img class="w-14 h-12 " src="{% static "images/select_list.png" %}" alt="">
                                </div>
                                <div class="w-24 h-16 rounded-lg flex justify-center mx-5 mt-1" id="">
                                    <svg
                                        width="25"
                                        height="30"
                                        viewBox="0 0 14 17"
                                        fill="none"
                                        xmlns="http://www.w3.org/2000/svg"
                                        >

                                        <!-- Left waves -->
                                        <path d="M2.84804 5.96395C2.84804 4.52235 3.57604 3.25755 4.71004 2.48235L4.51404 2.23755C3.31004 3.06715 2.54004 4.44075 2.54004 5.99115C2.54004 7.51435 3.29604 8.86075 4.47204 9.70395L4.66804 9.45915C3.56204 8.62955 2.84804 7.39195 2.84804 5.96395Z" fill="#E94D4F"/>

                                        <path d="M1.308 5.964C1.308 4.0328 2.302 2.3056 3.786 1.2448L3.59 1C2.022 2.1288 1 3.924 1 5.964C1 7.9768 2.008 9.7584 3.562 10.8736L3.758 10.6288C2.26 9.568 1.308 7.8816 1.308 5.964Z" fill="#E94D4F"/>

                                        <path d="M4.374 5.96398C4.374 5.01198 4.864 4.16878 5.62 3.66558L5.424 3.42078C4.598 3.99198 4.052 4.91678 4.052 5.95038C4.052 6.97038 4.584 7.89518 5.354 8.46638L5.55 8.22158C4.836 7.69118 4.374 6.87518 4.374 5.96398Z" fill="#E94D4F"/>

                                        <!-- Right waves -->
                                        <path d="M12.0601 5.96395C12.0601 4.44075 11.2901 3.06715 10.0861 2.23755L9.90405 2.48235C11.0101 3.25755 11.7521 4.53595 11.7521 5.96395C11.7521 7.37835 11.0381 8.61595 9.96005 9.41835L10.1561 9.66315C11.3041 8.81995 12.0601 7.47355 12.0601 5.96395Z" fill="#E94D4F"/>

                                        <path d="M13.292 5.96395C13.292 7.85435 12.34 9.55435 10.884 10.6151L11.08 10.8599C12.592 9.73115 13.6 7.94955 13.6 5.95035C13.6 3.91035 12.564 2.11515 10.996 1.01355L10.8 1.24475C12.326 2.30555 13.292 4.01915 13.292 5.96395Z" fill="#E94D4F"/>

                                        <path d="M10.5339 5.96405C10.5339 4.93045 9.9879 4.00565 9.1899 3.43445L8.9939 3.67925C9.7219 4.19605 10.2119 5.02565 10.2119 5.96405C10.2119 6.88885 9.7499 7.70485 9.0639 8.20805L9.2459 8.45285C10.0159 7.85445 10.5339 6.98405 10.5339 5.96405Z" fill="#E94D4F"/>

                                        <!-- CENTER IMAGE (you only change src) -->
                                        <image
                                            x="4"
                                            y="2.8"
                                            width="7"
                                            height="7"
                                            href="{% static "images/alert.gif" %}"
                                        />

                                    </svg>
                                    <p class="text-xs">Enroll Now</p>
                                </div>
                    </div>
                </div>
                <h3 class="mt-8 ml-8"><span class="font-semibold">শিক্ষার্থী, সরকারি চাকুরী ও ব্যাংক জব </span> <br> <span class="text-xs">প্রত্যাশীদের জন্য নির্ভরযোগ্য প্রাকটিস ও এক্সাম অ্যাপস</span></h3>
                
                <div class="ml-4 h-44 flex flex-col gap-2 justify-center items-center mt-7 w-full">
                    

                    

                    {% comment %} gif  {% endcomment %}
                    <a href="" class="px-10 py-2 rounded-full" id="bg_color">জব প্রস্তুতি</a>
                    <a href="" class="px-10 py-2 rounded-full" id="bg_color">ভর্তি প্রস্তুতি</a>
                
                    
                    

                </div>
            </div>

           
            
        </div>
        <div class="w-1/3 relative bottom-4 right-12 flex items-end justify-center">
            {% comment %} playstore  {% endcomment %}
                <div class="border-2 relative right-1 border-white w-20 h-20 flex flex-col justify-center mb-8 rounded-lg">
                   <div class="pl-1 flex flex-col justify-center">
                       <svg width="33" height="33" viewBox="0 0 33 33" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M3.09375 3.83431V29.1644C3.09392 29.2193 3.11031 29.273 3.14087 29.3187C3.17142 29.3644 3.21479 29.4 3.26552 29.4212C3.31625 29.4423 3.37209 29.448 3.42603 29.4375C3.47998 29.427 3.52964 29.4008 3.56877 29.3623L16.7578 16.5L3.56877 3.63644C3.52964 3.59786 3.47998 3.57169 3.42603 3.56121C3.37209 3.55073 3.31625 3.55642 3.26552 3.57755C3.21479 3.59868 3.17142 3.63432 3.14087 3.68C3.11031 3.72567 3.09392 3.77936 3.09375 3.83431Z" fill="#48BF91" stroke="#48BF91" stroke-width="1.5625"/>
                        <path d="M22.288 11.2149L5.75059 2.10376L5.74028 2.09796C5.45539 1.94327 5.18469 2.3287 5.41801 2.553L18.3815 14.9486L22.288 11.2149Z" fill="#48BF91" stroke="#48BF91" stroke-width="1.5625"/>
                        <path d="M5.41925 30.447C5.18465 30.6713 5.45535 31.0568 5.74152 30.9021L5.75183 30.8963L22.2879 21.7852L18.3814 18.0501L5.41925 30.447Z" fill="#48BF91" stroke="#48BF91" stroke-width="1.5625"/>
                        <path d="M28.9639 14.8887L24.3459 12.3453L20.0037 16.5L24.3459 20.6527L28.9639 18.1113C30.2201 17.4172 30.2201 15.5828 28.9639 14.8887Z" fill="#48BF91" stroke="#48BF91" stroke-width="1.5625"/>
                    </svg>
                    <h6 class="text-xs">Get it on</h6>
                    <h6 class="text-xs text-violet-950 font-semibold">Google Play</h6>

                   </div>
                </div>
            {% comment %} phone  {% endcomment %}
                <div>
                    <img class="h-96 object-contain" src="{% static "images/phone.png" %}">
                </div>
            {% comment %} reading {% endcomment %}
                <div>
                    <img class="h-20 transform -scale-x-100" src="{% static "images/reading.png" %}" alt="">
                </div>
        </div>

        
    </section>

{% endblock content %}